# Binaries for programs and plugins
/yggpeers
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# goreleaser builds

# Local build output
/build/
dist/

# Data files
data/

# Python caches
__pycache__/
*.py[cod]
